<script type="text/javascript">
  var my_map;
  var new_marker;
  // Define new JScript variables to hold LAT and LNG
  var map_lat = <%= @output_latitude.to_json %>;
  var map_lng = <%= @output_longitude.to_json %>;
  var marker_title = "<%= @output_address %>";

  function initialize() {
    var myLatlng = new google.maps.LatLng(map_lat, map_lng);
    var mapOptions = {
      zoom: 14,
      center: myLatlng
    };
    my_map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

    new_marker = new google.maps.Marker({
        position: myLatlng,
        map: my_map,
        title: marker_title
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>
<div class="container">
  <div class="jumbotron">
    <h1>Weather For Your Location</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>The current temperature at <b><%= @output_address %></b> is <b><%= @the_temperature %> &deg;F</b>.</p>
      <p>The outlook for the next hour is: <b><%= @the_hour_outlook %></b></p>
      <p>The outlook for the next day is: <b><%= @the_day_outlook %></b></p>
    </div>
  </div>
  <div class="row">
    <div id="map-canvas"></div>
  </div>
</div>
